* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: black;
    color: white;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: 1.3rem;
}

.pokemonImage {
    width: 8rem;
    height: 8rem;
}